<form action="/feedback" method="post">
    <input id='inputName' name='name' type="text" placeholder="Your name..." value={{name}}>
    <input name='height' type="text" value={{height}}>
    <button>Send</button>
</form>